name: Linting
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  clint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Mise
        uses: jdx/mise-action@v3
        with:
          install: true

      - name: Run CI Pipeline
        uses: danielronalds/clint-runner@main
        with:
          pipeline: ci
